* {
    margin: 0;
}

body {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-size: 20px;
    color: #000000;
}

/*задал  блоку абсалютую величину, 
чтобы потомкам можно было использовать относительные*/
main {
    width: 1440px;
    margin: auto;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 840px;
}

.item-1 {
    margin: 0 0 0 9.31%; 
    width: 38.4%;
}

.img-sand {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-2 {
    display: flex;
    width: 10.07%;
    height: 12.86%;
    flex-direction: row;
    align-items: center;
}

.inner-box {
    font-weight: 700;
    line-height: 23px;
    transform: rotate(-90deg);
}

.container-katya-mills {
    display: flex;
    flex-direction: column;
    width: 31.18%;
}

.item-void {
    height: 20%;
}

.item-4 {
    height: 30%;
}

h2 {
    /* Katya Mills
       Strengths*/
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 86px;
    line-height: 115px;
}

.art_director {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 0px 0px 3.75rem 0px;
}

.dash {
    padding: 0.5rem 0;
}

.blockquote {
    /* “The more I deal */
    font-family: 'Bitter';
    font-size: 26px;
    line-height: 31px;
}